<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
    ">

    <!--开启注解扫描-->
    <context:component-scan base-package="cn.hnist">
        <!--不扫描Controller注解，由mvc框架处理-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--整合Mybatis框架-->
    <!--配置连接池-->
    <bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql:///dailyfresh"/>
        <property name="user" value="root"/>
        <property name="password" value="JanvySun"/>
    </bean>
    <!--配置SqlSessionFactory工厂-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sessionFactory">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置Dao-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
        <property name="basePackage" value="cn.hnist.dao"/>
    </bean>

    <!--配置声明式事务管理-->
    <!--配置事务管理器-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--查询方法只读，不需要事务-->
            <tx:method name="find*" read-only="true" propagation="SUPPORTS"/>
            <!--其他方法读写，需要事务-->
            <tx:method name="*" read-only="false" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!--使用AOP对业务层方法进行事务增强-->
    <aop:config>
        <!--对业务层中的所有实现类中的所有方法进行增强-->
        <aop:pointcut id="ptc" expression="execution(* cn.hnist.service.impl.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ptc"/>
    </aop:config>

</beans>